body {
    background-color: #eeeeee;
}

h1 {
    text-emphasis: none;
    text-align: center;
    color: blue;
}

.card {
    background-color: #ffffff;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: black 5 5 5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border: 1px solid black;
    
}

th {
    background-color: #eeeeee;
}

td, th {

    border-collapse: collapse;
    padding: 3px;
}

